$tablet-width: 768px;
$desktop-width: 1150px;
$mobile-width-only: 767px;

$c-main-white: #ffffff;
$c-page-heading-gray: #f1f1f1;

$c-title-black: #000000;
$c-text: #444444;
$c-hit-label: #63d1bb;


$c-underline: #ececec;

$icon-hover: #63d1bb;
$icon-active: transparentize($icon-hover, 0.7);
$icon-f-hover: #46c1ae;
$icon-f-active: transparentize($icon-f-hover, 0.7);

$c-text-hover: transparentize($c-title-black, 0.4);
$c-text-active: transparentize($c-title-black, 0.7);

$fs-text: 15px;
$lh-text: 24px;

$fs-mobile-section-title: 25px;
$fs-mobile-title: 27px;
$lh-mobile-title: 30px;

$fs-tablet-title: 43px;
$lh-tablet-title: 50px;

$fs-desktop-title: 53px;
$lh-desktop-title: 57px;

$fs-mobile-catalog: 17px;
$fs-tablet-desktop-catalog: 20px;
$lh-catalog: 24px;

$font-family: "Open Sans", "Arial", sans-serif;
