.button {
  display: inline-block;
  padding-top: 15px;
  padding-bottom: 15px;
  width: 100%;
  @include font(17px, bold, 20px, $c-text);
  text-transform: uppercase;
  text-align: center;
  vertical-align: middle;
  background-color: $c-main-white;
  border: 2px solid $c-text;

  &:hover,
  &:focus {
    color: $c-main-white;
    background-color: $c-text;
  }

  &:active {
    color: transparentize($c-main-white, 0.7);
    background-color: $c-text;
  }
}
