.catalog {
  padding-top: 15px;
}

.catalog__wrap {
  display: flex;
  flex-wrap: wrap;
  flex-direction: column;
}

.catalog__item {
  margin-bottom: 29px;
  display: flex;
  flex-direction: column;
  width: 260px;
}

@media (min-width: $tablet-width) {
  .catalog {
    padding-top: 19px;
  }

  .catalog__item {
    flex-direction: row;
    width: 668px;
  }
}

@media (min-width: $desktop-width) {
  .catalog {
    padding-top: 15px;
  }

  .catalog__wrap {
    flex-direction: row;
  }

  .catalog__item {
    flex-direction: column;
    width: 315px;

    &:not(:nth-child(3n)) {
      margin-right: 51px;
    }
  }
}
