.contacts {
  padding-bottom: 39px;


  &__section-title {
    margin: 0;
    margin-bottom: 39px;
    padding: 0;
  }

  &__details {
    margin-bottom: 5px;
  }

  &__list {
    margin: 0;
    padding: 0;
    list-style: none;
  }

  &__item {
    margin-bottom: 37px;
    font-size: $font-size-text;
    font-style: normal;
    line-height: $line-height-text;
    color: $color-text;
  }

  &__email {
    padding-bottom: 3px;
    color: $color-text;
    border-bottom: 1px solid $color-hit-label;

    &:hover,
    &:focus {
      color: $color-hit-label;
    }

    &:active {
      color: transparentize($color-hit-label, 0.7);
      border-bottom: 1px solid transparentize($color-hit-label, 0.7);
    }
  }

  &__map {
    margin-bottom: 39px;
    background-image: url("../img/map-mobile@1x.jpg");
    background-repeat: no-repeat;
  }
}
