.contacts {
  padding-bottom: 39px;

  &__container {
    &--map {
      padding: 0;
      margin-bottom: 39px;
      background-image: url("../img/map-mobile@1x.jpg");
      background-repeat: no-repeat;
    }
  }

  &__section-title {
    margin: 0;
    margin-bottom: 39px;
    padding: 0;
    @include font(18px, bold, $lh-mobile-title, $c-title-black);
  }

  &__details {
    margin-bottom: 5px;
  }

  &__list {
    margin: 0;
    padding: 0;
    list-style: none;
    display: flex;
    flex-direction: column;
  }

  &__item {
    display: flex;
    align-items: flex-start;
    margin-bottom: 37px;
    @include font($fs-text, normal, $lh-mobile-title, $c-text);
    font-style: normal;
  }

  &__type {
    margin-right: 30px;
  }

  &__email {
    padding-bottom: 3px;
    color: $c-text;
    border-bottom: 1px solid $c-hit-label;

    &:hover,
    &:focus {
      color: $c-hit-label;
    }

    &:active {
      color: transparentize($c-hit-label, 0.7);
      border-bottom: 1px solid transparentize($c-hit-label, 0.7);
    }
  }

  &__address {
    width: 187px;
  }

  &__button {
    font-size: 18px;
  }

  @media (min-width: $tablet-width) {
    &__container {
      &--details {
        padding-top: 60px;
        background-image: url("../img/icon-flag.svg");
        background-repeat: no-repeat;
        background-position: 93% 10%;
      }

      &--map {
        background-image: url("../img/map-tablet.jpg");
      }

      &--button {
        text-align: center;
      }
    }

    &__section-title {
      margin-bottom: 60px;
      font-size: $fs-tablet-title;
      line-height: $lh-tablet-title;
    }

    &__list {
      flex-direction: row;
    }

    &__item {
      &:first-child {
        margin-right: 55px;
      }
    }

    &__item,
    &__type,
    &__email,
    &__address {
        font-size: 17px;
    }

    &__address {
      width: 230px;
    }

    &__button {
      font-size: 17px;
      width: 230px;
    }

  }

  @media (min-width: $desktop-width) {
    display: flex;
    flex-direction: column;
    position: relative;

    &__container {
      margin: 0;

      &--details {
        background-position: 10% 10%;
        padding-left: 225px;
      }

      &--map {
        position: absolute;
        left: 575px;
        top: 20px;
        width: 527px;
        height: 457px;
      }

      &--button {
        text-align: left;
        padding-left: 225px;
      }
    }

    &__section-title {
      font-size: $fs-desktop-title;
      line-height: $lh-desktop-title;
    }

    &__list {
      flex-direction: column;
      margin-bottom: 48px;
    }
  }
}
