.footer-copyright {
  width: 260px;

  &:hover,
  &:focus {
    .footer-copyright__logo {
      fill: $icon-f-hover;
    }
  }

  &:active {
    .footer-copyright__details {
      color: $c-text-active;
    }

    .footer-copyright__logo {
      fill: $icon-f-active;
    }
  }
}

.footer-copyright__details {
  @include font(19px, bold, 18px, $c-title-black);
  width: 127px;
}

.footer-copyright__link {
  display: flex;
  flex-direction: row;
  justify-content: space-evenly;
  align-items: center;
}

.footer-copyright__logo {
  margin-top: 22px;
  margin-bottom: 20px;
  fill: $c-hit-label;
  width: 27px;
  height: 34px;
}

@media (min-width: $tablet-width) {
  .footer-copyright {
    width: 186px;
  }

  .footer-copyright__logo {
    margin: 0;
  }

  .footer-copyright__link {
    justify-content: space-between;
  }
}
