.footer-social {
  padding-top: 30px;
  padding-bottom: 28px;
  border-bottom: 1px solid #e5e5e5;

  &__list {
    display: flex;
    justify-content: center;
    @include list( );
  }

  &__item:not(:last-child) {
    margin-right: 40px;
  }

  &__link:hover,
  &__link:focus {
    .footer-social__icon {
      fill: #46c1ae;
    }
  }

  &__link:active {
    .footer-social__icon {
      fill: transparentize(#46c1ae, 0.7);
    }
  }
}
