.footer-social {
  width: 260px;
  padding-top: 21px;
  padding-bottom: 22px;
  border-bottom: 1px solid #e5e5e5;

  .footer-social__list {
    display: flex;
    justify-content: space-between;
    align-items: baseline;
    width: 140px;

    @include list( );
    margin: 0 auto;
  }

  .footer-social__link {
    display: block;
    &:hover,
    &:focus {
      .footer-social__icon {
        fill: $icon-f-hover;
      }
    }

    &:active {
      .footer-social__icon {
        fill: $icon-f-active;
      }
    }
  }

  .footer-social__image {
    &--instagram {
      width: 22px;
      heigth: 22px;
    }

    &--facebook {
      width: 15px;
      heigth: 28px;
    }

    &--twitter {
      width: 24px;
      heigth: 21px;
    }
  }

  @media (min-width: $tablet-width) {
    margin-right: 83px;
    padding: 0;
    width: 140px;
    border-bottom: none;
  }

  @media (min-width: $desktop-width) {
    margin-right: 270px;
  }
}
