.heading-navigation {
  margin-top: 121px;

  &__list {
    @include list( );
  }

  &__link {
    display: block;
    padding-top: 23px;
    padding-left: 28px;
    padding-bottom: 18px;

    &--interior {
      background-color: #63d1bb;
    }

    &--toys {
      background-color: #56c3b2;
    }

    &:hover,
    &:focus {
      .heading-navigation__icon {
        fill: transparentize(#149080, 0.3);
      }
    }

    &:active {
      .heading-navigation__icon {
        fill: transparentize(#149080, 0.7);
      }

      .heading-navigation__name {
        color: transparentize($c-main-white, 0.7);
      }
    }
  }

  &__name {
    width: 134px;

    @include font(19px, bold, $lh-text, $c-main-white);
  }

  &__icon {
    fill: transparentize(#149080, 0.5);
  }

  @media (min-width: $tablet-width) {
    margin-top: 358px;

    &__list {
      display: flex;
      flex-direction: row;
    }

    &__item {
      width: 334px;
    }

    &__name {
      @include font(20px, bold, $lh-mobile-title, $c-main-white);
    }
  }

  @media (min-width: $desktop-width) {
    &__item {
      width: 525px;
    }
  }
}
