.individual-order {
  padding-bottom: 55px;

  &__section {
    margin: 0;
    margin-bottom: 30px;
    padding: 0;
    border: none;
  }

  &__type {
    font-size: $font-size-text + 2px;
    font-weight: bold;
    line-height: $line-height-text - 7px;
    color: $color-hit-label;
    text-transform: uppercase;
  }

  &__options {
    margin: 0;
    padding: 0;
    padding-top: 24px;
    list-style: none;
  }

  &__item {
    margin-bottom: 14px;

    &:last-child {
      margin-bottom: 0px;
    }
  }

  &__option {
    display: block;
    font-size: $font-size-text + 2px;
    font-weight: bold;
    line-height: $line-height-text - 6px;
    color: $color-title;

    &--custom {
      position: relative;
      padding-left: 60px;

      + .individual-order__radio {
        position: absolute;
        content: "";
        top: 0px;
        left: 0px;
        width: 44px;
        height: 44px;
        margin: 0;
        padding: 0;
        border: 2px solid #444444;
        border-radius: 50%;
      }
    }
  }

  &__field {
    display: block;
    width: 100%;
    padding-top: 15px;
    padding-bottom: 15px;
    border: none;
    box-shadow: 0 2px 0 0 #000000;
  }


  &__user-description {
    width: 100%;
    margin-top: 23px;
    margin-bottom: 18px;
    padding-top: 15px;
    padding-bottom: 15px;
    padding-left: 15px;
    border: 2px solid #444444;
  }


  &__field  {


  &::-webkit-input-placeholder {
    font-size: $font-size-text + 2px;
    font-weight: normal;
    line-height: $line-height-text - 6px;
    color: transparentize(#444444, 0.7);
  }

  &::-moz-placeholder {
    font-size: $font-size-text + 2px;
    font-weight: normal;
    line-height: $line-height-text - 6px;
    color: transparentize(#444444, 0.7);
  }

  &:-moz-placeholder {
    font-size: $font-size-text + 2px;
    font-weight: normal;
    line-height: $line-height-text - 6px;
    color: transparentize(#444444, 0.7);
  }

  &:-ms-input-placeholder {
    font-size: $font-size-text + 2px;
    font-weight: normal;
    line-height: $line-height-text - 6px;
    color: transparentize(#444444, 0.7);
  }
}


  &__field, &__user-description {
    font-size: $font-size-text + 2px;
    font-weight: normal;
    line-height: $line-height-text - 6px;
    color: transparentize(#444444, 0.7);
  }

  &__warning {
    padding: 0px;
    margin: 0px;
    font-size: $font-size-text - 1px;
    font-weight: regular;
    line-height: $line-height-text - 8px;
    color: $color-text;
  }

}
