.individual-order {
  padding-bottom: 55px;

  &__header {
    @include font(13px, normal, $lh-text, $c-text);
  }

  &__form {
    display: flex;
    flex-direction: column;
  }

  &__section {
    margin: 0;
    margin-bottom: 30px;
    padding: 0;
    border: none;
    display: flex;
    flex-direction: column;
    width: 260px;

    &--textarea {
      margin-bottom: 0;
    }
  }

  &__type {
    @include font(17px, bold, 17px, $c-hit-label);
    text-transform: uppercase;
    width: 260px;
  }

  &__options {
    @include list( );
    padding-top: 24px;
    display: flex;
    flex-direction: column;
    width: 260px;
  }

  &__item {
    width: 260px;

    &:not(:last-child) {
      margin-bottom: 14px;
    }
  }

  &__option {
    display: block;

    @include font(17px, bold, 18px, $c-title-black);
    width: 260px;

    &--custom {
      position: relative;
      padding-left: 60px;
    }
  }

  &__field {
    display: block;
    width: 100%;
    padding-top: 15px;
    padding-bottom: 15px;
    border: none;
    box-shadow: 0 2px 0 0 #000000;

    &--tel,
    &--email {
      background-repeat: no-repeat;
      background-position: 100% 50%;
    }

    &--tel {
      background-image: url("../img/icon-phone.svg");
    }

    &--email {
      background-image: url("../img/icon-mail.svg");
    }

    &::-webkit-input-placeholder {
      @include font(17px, normal, 18px, transparentize($c-text, 0.7));
    }

    &::-moz-placeholder {
      @include font(17px, normal, 18px, transparentize($c-text, 0.7));
    }

    &:-moz-placeholder {
      @include font(17px, normal, 18px, transparentize($c-text, 0.7));
    }

    &:-ms-input-placeholder {
      @include font(17px, normal, 18px, transparentize($c-text, 0.7));
    }
  }

  &__user-description {
    width: 260px;
    margin-top: 23px;
    margin-bottom: 18px;
    padding-top: 15px;
    padding-bottom: 15px;
    padding-left: 15px;
    border: 2px solid $c-text;
  }

  &__field,
  &__user-description {
    @include font(17px, normal, 18px, transparentize($c-text, 0.7));
  }

  &__warning {
    padding: 0;
    margin: 0;
    padding-top: 18px;
    padding-bottom: 30px;

    @include font(14px, normal, 16px, $c-text);
  }

  @media (min-width: $tablet-width) {
    &__section {
      flex-direction: row;
      justify-content: space-between;
      align-items: baseline;
      width: 668px;
    }

    &__type {
      width: 160px;
    }

    &__options {
      width: 501px;
      padding: 0;
    }

    &__item {
      width: 100%;
    }

    &__option {
      width: 501px;
      display: flex;
    }

    &__name {
      margin-right: 25px;
    }

    &__user-description {
      width: 501px;
    }

    &__warning {
      width: 334px;
    }

    &__button {
      width: 230px;
    }

    &__footer {
      display: flex;
      flex-direction: row-reverse;
      justify-content: space-between;
    }
  }
}
