.main-footer {
  background-color: $c-page-heading-gray;
}

.main-footer__container {
  display: flex;
  flex-direction: column;
  align-items: center;
  margin: 0 auto;
  padding: 0 30px;
  width: 320px;
}

.main-footer__image {
  display: none;
}

@media (min-width: $tablet-width) {
  .main-footer__container {
    flex-direction: row;
    padding: 0 50px;
    padding-top: 5px;
    width: 768px;
  }

  .main-footer__image {
    display: block;
    margin-right: 160px;
  }

  .main-footer__logo {
    display: block;
    width: 102px;
    height: 34px;
    margin-top: 44px;
    margin-bottom: 58px;

    &--inner {

      &:hover,
      &:focus {
        fill: $icon-f-hover;
      }

      &:active {
        fill: $icon-f-active;
      }
    }
  }
}

@media (min-width: $desktop-width) {
  .main-footer__container {
    width: 1150px;
  }

  .main-footer__image {
    margin-right: 350px;
  }
}
