.main-footer {
  background-color: $c-page-heading-gray;

  &__container {
    display: flex;
    flex-direction: column;
  }

  &__image {
    display: none;
  }

  @media (min-width: $tablet-width) {
    &__container {
      flex-direction: row;
      justify-content: space-between;
    }

    &__image {
      display: block;
      background-color: yellow;
    }
  }

  @media (min-width: $desktop-width) {}
}
