.main-logo {
  display: block;
  width: 86px;
  height: 35px;
}

.main-logo__images {
  display: block;
  width: 86px;
  height: 35px;
}

@media (min-width: $tablet-width) {
  .main-logo {
    width: 113px;
    height: 46px;
  }
}

@media (min-width: $desktop-width) {
  .main-logo {
    order: 1;
    width: 149px;
    height: 72px;
  }
}
