.modal-order {
  padding-top: 32px;
  padding-bottom: 46px;

  &__section-title {
    margin-bottom: 18px;
    padding-left: 55px;
    padding-right: 55px;
    font-size: $font-size-page-heading - 2px;
    font-weight: bold;
    line-height: $line-height-page-heading;
    color: $color-title;
    text-transform: uppercase;
    text-align: center;
    vertical-align: middle;
  }

  &__greeting {
    font-size: $font-size-text;
    font-weight: normal;
    line-height: $font-size-text + 6px;
    color: $color-text;
    text-align: center;
    vertical-align: middle;
  }

  &__options {
    display: inline-flex;
    margin: 0;
    margin-bottom: 31px;
    padding: 0;
    list-style: none;
  }

  &__size {
    width: 82px;
    padding-top: 18px;
    padding-bottom: 18px;
    font-size: $font-size-text + 2px;
    font-weight: bold;
    line-height: $font-size-text - 9px;
    text-transform: uppercase;
    text-align: center;
    vertical-align: middle;
    border: 2px solid transparentize(#444444, 0.9);


    &:hover, &:focus {
      border: 2px solid transparentize(#444444, 0.7);
    }

    &:active {
      border: 2px solid #62d1ba;
    }

  }

  &__button {
    color: $color-main;
    background-color: $color-hit-label;
    border-color: $color-hit-label;

      &:hover, &:focus, &:active {
        color: $color-main;
        background-color: $color-hit-label;
        border-color: $color-hit-label;
      }
  }
}
