.parameters {
  margin-bottom: 27px;

  &__list {
    display: table;
    width: 260px;
    @include list( );
  }

  &__item {
    display: table-row;
    @include font($fs-text, bormal, 20px, $c-text);
  }

  &__name,
  &__details {
    padding-top: 13px;
    padding-bottom: 13px;
    display: table-cell;
    text-align: left;
    border-bottom: 1px solid $c-underline;
  }

  &__name {
    width: 95px;
  }
}
