.product {
  border: 1px solid $c-underline;
  width: 260px;

  &:hover,
  &:focus {
    box-shadow: 0 10px 6px 0 transparentize($c-title-black, 0.9);
  }

  &:active {
    box-shadow: 0 3px 5px 0 transparentize($c-title-black, 0.9);
  }

  &__photo {
    display: block;
    height: 195px;
  }

  &__description {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    width: 260px;
    padding-top: 29px;
    padding-bottom: 27px;
    padding-left: 28px;
    padding-right: 28px;
  }

  &__link {
    display: block;
    color: $c-title-black;
  }

  &__item-title {
    margin: 0;
    margin-bottom: 16px;
    padding: 0;
    @include font(17px, bold, $lh-text, $c-title-black);

    &:hover,
    &:focus {
      color: $c-text-hover;
    }

    &:active {
      color: $c-text-active;
    }
  }

  &__parameters {
    margin: 0;
    padding: 0;
    margin-bottom: 27px;
    @include font(13px, normal, $lh-mobile-title, $c-title-black);
  }


  &__meta {
    align-self: flex-end;
    display: flex;
    justify-content: space-between;
    width: 205px;
    padding-top: 26px;
    border-top: 1px solid $c-underline;
  }

  &__cost {
    @include font($fs-text, normal, $lh-text, $c-title-black);
  }

  &__icon {
    fill: #d3d2d2;
  }

  &__button {
    padding-left: 50px;

    &:hover,
    &:focus {
      .product__icon {
        fill: $icon-hover;
      }
    }

    &:active {
      .product__icon {
        fill: $icon-active;
      }
    }
  }

  @media (min-width: $tablet-width) {
    width: 668px;

    &__photo {
      width: 334px;
      height: 334px;
      background-color: yellow;
    }

    &__description {
      width: 334px;
      min-height: 334px;
      padding-left: 33px;
      padding-right: 33px;
    }

    &__meta {
      width: 269px;
    }
  }

  @media (min-width: $desktop-width) {
    width: 316px;

    &__photo {
      width: 316px;
      height: 462px;
      background-color: yellow;
    }

    &__description {
      width: 316px;
      min-height: 197px;
      padding-top: 27px;
      padding-bottom: 30px;
    }

    &__meta {
      width: 256px;
    }
  }
}
