.product-hit {
  margin-bottom: 73px;

  &__promo {
    margin-bottom: 32px;
    @include font($fs-text, normal, $lh-text, $c-text);
  }

  &__parameters {
    @include font($fs-text, normal, 20px, $c-text);
  }

  &__link {
    display: block;
  }

  &__cost {
    margin-top: 28px;
    margin-bottom: 28px;
    @include font(17px, bold, $lh-text, $c-text);
    text-align: center;
  }

  @media (min-width: $tablet-width) {
    position: relative;

    &__promo {
      margin-bottom: 32px;
      @include font(17px, normal, $lh-mobile-title, $c-text);
    }

    &__cost {
      @include font(20px, bold, $lh-text, $c-text);
      margin-top: 40px;
      margin-bottom: 34px;
    }

    &__link {
      position: absolute;
      right: -385px;
      top: 22px;
      width: 333px;
      height: 404px;
      background-color: yellow;
    }
  }

  @media (min-width: $desktop-width) {
    &__link {
      position: absolute;
      right: -590px;
      top: -135px;
      width: 525px;
      height: 636px;
      background-color: yellow;
    }

    &__cost {
      margin-top: 110px;
      margin-bottom: 34px;
    }
  }
}
