.reviews {
  padding: 0 30px;
}

.reviews__container {
  display: flex;
  flex-direction: column;
  width: 260px;
  margin: 0 auto;
  padding-top: 16px;
  padding-bottom: 50px;
  background-image: url("../img/bg-zigzag-line.svg");
  background-repeat: repeat-x;
  background-position: bottom;
  background-size: auto 6px;
}

.reviews__section-title {
  margin: 0;
  padding: 0;
  margin-bottom: 23px;
  margin-left: -2px;

  @include font($fs-mobile-section-title, bold, $lh-mobile-title, $c-title-black);
}

.reviews__list {
  margin-bottom: 34px;

  @include list( );
}

.reviews__details {
  margin: 0;
  margin-bottom: 28px;
  padding: 0;

  @include font($fs-text, normal, $lh-mobile-title, $c-text);
}

.reviews__author {
  display: block;

  @include font(17px, bold, $lh-text, $c-title-black);
  font-style: normal;
}

.reviews__account {
  display: block;
  margin-bottom: 35px;

  @include font(17px, normal, $lh-mobile-title, $c-text);
  font-style: normal;
}

.reviews__button {
  font-size: 18px;
  max-width: 260px;
  align-self: center;
}

.reviews__buttons {
  display: inline-flex;
  margin-bottom: 34px;
  max-width: 260px;
  align-self: center;
}

.reviews__icon {
  fill: $c-title-black;
}

.reviews__arrow-button {
  width: 132px;
  padding-top: 7px;
  padding-bottom: 12px;
  border: 1px solid $c-underline;
  background-color: transparent;

  &:hover,
  &:focus {
    .reviews__icon {
      fill: $c-text-hover;
    }
  }

  &:active {
    .reviews__icon {
      fill: $c-text-active;
    }
  }
}

@media (min-width: $tablet-width) {
  .reviews {
    padding-bottom: 0;
    padding-left: 50px;
    padding-right: 50px;

    background-image: url("../img/review@1x.jpg");
    background-repeat: no-repeat;
    background-position: 0 0;
    background-size: 350px auto;

    @media (min-resolution: $retina-dpi),
      (min-resolution: $retina-dppx) {
      background-image: url("../img/review@2x.jpg");
    }
  }

  .reviews__container {
    position: relative;
    flex-direction: row;
    flex-wrap: wrap;
    width: 668px;
    margin: 0 auto;
    padding-top: 77px;
    padding-bottom: 95px;
    background-image: url("../img/bg-zigzag-line.svg");
    background-repeat: repeat-x;
    background-position: bottom;
    background-size: auto 17px;
  }

  .reviews__section-title {
    order: 0;
    width: 185px;
    margin-top: 0;
    margin-bottom: 0;
    margin-left: -5px;
    margin-right: 312px;
    font-size: $fs-tablet-title;
    line-height: $lh-tablet-title;
  }

  .reviews__list {
    order: 2;
    width: 668px;
  }

  .reviews__details {
    margin-top: 45px;
    margin-bottom: 56px;
    font-size: 17px;
  }

  .reviews__author {
    margin-bottom: 5px;
    font-size: 18px;
  }

  .reviews__buttons {
    margin-bottom: 0;
    order: 3;
    position: absolute;
    bottom: 130px;
    right: 0;
  }

  .reviews__button {
    order: 1;
    width: 176px;
    font-size: 17px;
  }

  .reviews__arrow-button {
    border: 1px solid transparent;
    width: 87px;
  }
}

@media (min-width: 1150px) {
  .reviews {
    width: 1150px;
    margin: 0 auto;
    background-position: 48px 7px;
  }

  .reviews__container {
    width: 1050px;
    margin: 0 auto;
    padding-left: 170px;
    padding-bottom: 148px;
    background-size: auto 23px;
  }

  .reviews__section-title {
    font-size: $fs-desktop-title;
    line-height: $lh-desktop-title;
    margin-right: 519px;
    margin-left: -2px;
  }


  .reviews__list {
    width: 775px;
  }

  .reviews__details {
    width: 775px;
    margin-bottom: 37px;
  }

  .reviews__button {
    margin-top: 8px;
  }

  .reviews__buttons {
    bottom: 183px;
    right: 3px;
  }

  .reviews__author {
    font-size: 17px;
  }
}
