.site-navigation__list {
  display: flex;
  flex-direction: column;
  width: auto;

  @include list( );
}

.site-navigation__item {
  border-bottom: 1px solid $c-page-heading-gray;
}

.site-navigation__link {
  width: 320px;
  margin: 0 auto;
  display: block;
  padding-top: 26px;
  padding-bottom: 28px;
  padding-left: 75px;

  @include font(17px, bold, $lh-text, $c-title-black);
}

.site-navigation__link[href] {
  @include link( );
}

@media (min-width: $tablet-width) {
  .site-navigation__list {
    height: inherit;
    display: flex;
    flex-direction: row;
  }

  .site-navigation__item {
    border-bottom: none;
  }

  .site-navigation__link {
    padding-left: 0;
    padding-top: 17px;
    padding-bottom: 17px;
    font-size: $fs-text;
    width: 167px;
  }
}

@media (min-width: $desktop-width) {
  .site-navigation__item {
    display: flex;
    width: 233px;
    align-items: center;
    border-bottom: none;
  }

  .site-navigation__item:not(:last-child) {
    border-right: 1px solid $c-page-heading-gray;
  }

  .site-navigation__link {
    width: 233px;
    font-size: 17px;
    padding: 0;
    padding-left: 33px;
  }

  .site-navigation__item:first-child .site-navigation__link {
    padding-left: 50px;
  }
}
