.special-offers {
  display: none;
  padding-left: 50px;

  &__list {
    @include list( );
  }

  &__link {
    display: block;
    padding-top: 23px;
    padding-bottom: 23px;

    @include font($fs-text, bold, $lh-text, $c-title-black);
  }

  @media (min-width: $desktop-width) {
    display: block;
    position: absolute;
    z-index: 1;
    left: 0;
    margin-top: 84px;
    order: 2;
    width: 400px;
    background: transparent;

    &__list {
      display: flex;
      flex-direction: row;
      justify-content: space-between;
    }
  }
}
