.user-navigation {
  background-color: $c-main-white;

  &__list {
    display: flex;
    flex-direction: column;

    @include list( );
  }

  &__item {
    border-bottom: 1px solid $c-page-heading-gray;
  }

  &__link {
    display: flex;
    min-height: 80px;
    flex-direction: row;
    justify-content: flex-start;
    align-items: center;
    padding-left: 30px;

    @include font(17px, bold, $lh-text, $c-title-black);

    &:hover,
    &:focus {
      color: $c-text-hover;

      .user-navigation__icon {
        fill: $icon-hover;
      }
    }

    &:active {
      color: $c-text-active;

      .user-navigation__icon {
        fill: $icon-active;
      }
    }
  }

  &__name {
    padding-left: 26px;
  }

  &__icon {
    fill: #d3d2d2;
  }

  @media (min-width: $tablet-width) {
    width: 398px;

    &__list {
      flex-direction: row;
    }

    &__item {
      min-height: 88px;
      border-bottom: none;
      border-left: 1px solid $c-page-heading-gray;
    }

    &__link {
      &--search {
        width: 83px;
      }

      &--cart {
        width: 314px;
      }
    }

    &__name {
      &--search {
        display: none;
      }
    }
  }

  @media (min-width: $desktop-width) {
    order: 2;
    width: 400px;

    &__list {
      justify-content: flex-end;
    }
  }
}
