.week-hit__container {
  display: flex;
  flex-direction: column;
}

.week-hit__title {
  margin-bottom: 5px;

  @include font(25px, bold, $lh-mobile-title, $c-title-black);
}

.week-hit__label {
  @include font(17px, bold, 20px, $c-hit-label);
  text-transform: uppercase;
  margin-bottom: 26px;
  width: auto;
}

.week-hit__description {
  width: 260px;
}

@media (min-width: $tablet-width) {
  .week-hit {
    padding-bottom: 30px;
  }

  .week-hit__container {
    flex-direction: row;
    flex-wrap: wrap;
    width: 768px;
    padding-top: 30px;
  }

  .week-hit__title {
    width: 430px;
    margin-top: 0;
    margin-bottom: 0;
    margin-right: 140px;
    font-size: $fs-tablet-title;
    line-height: $lh-tablet-title;
  }

  .week-hit__label {
    width: 80px;
    margin-bottom: 0;
    padding-top: 10px;
    line-height: 17px;
    text-align: center;
  }

  .week-hit__description {
    padding-top: 50px;
    width: 668px;
    height: 464px;
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
    justify-content: flex-end;
    align-content: space-between;
  }
}

@media (min-width: $desktop-width) {
  .week-hit {
    padding-bottom: 60px;
  }

  .week-hit__container {
    width: 1150px;
    padding-top: 110px;
  }

  .week-hit__title {
    z-index: 2;
    order: 1;
    width: 875px;
    position: relative;
    font-size: $fs-desktop-title;
    line-height: $lh-desktop-title;
    margin-right: 0;
  }

  .week-hit__label {
    order: 0;
    width: 168px;
    padding: 0 30px;
    padding-top: 13px;
  }

  .week-hit__description {
    order: 2;
    width: 100%;
    height: 526px;
    padding-top: 48px;
    padding-left: 175px;
  }
}
