.week-hit {
  display: flex;
  padding: 0 9.37%;
}

.week-hit__container {
  display: flex;
  flex-direction: column;
  width: 260px;
  margin: 0 auto;
  background-image: url("../img/bg-zigzag-line.svg");
  background-repeat: repeat-x;
  background-position: bottom;
  background-size: auto 6px;
}

.week-hit__title {
  margin-bottom: 5px;

  @include font(25px, bold, $lh-mobile-title, $c-title-black);
}

.week-hit__label {
  @include font(17px, bold, 20px, $c-hit-label);
  text-transform: uppercase;
  margin-bottom: 25px;
  width: auto;
}

.week-hit__description {
  width: 260px;
}

@media (min-width: $tablet-width) {
  .week-hit {
    width: 768px;
    margin: 0 auto;
    padding: 0 50px;
  }

  .week-hit__container {
    align-items: center;
    width: 768px;
    padding-top: 33px;
    padding-bottom: 30px;
    flex-direction: row;
    flex-wrap: wrap;
    background-size: auto 17px;
  }

  .week-hit__title {
    width: 430px;
    margin-top: 0;
    margin-bottom: 0;
    margin-right: 136px;
    margin-left: -3px;
    font-size: $fs-tablet-title;
    line-height: $lh-tablet-title;
  }

  .week-hit__label {
    width: 80px;
    margin-bottom: 0;
    padding-top: 10px;
    line-height: 17px;
    text-align: center;
  }

  .week-hit__description {
    padding-top: 50px;
    width: 668px;
    height: 464px;
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
    justify-content: center;
    align-content: space-between;
  }
}

@media (min-width: $desktop-width) {
  .week-hit {
    width: 1150px;
    margin: 0 auto;
    padding-bottom: 0;
  }

  .week-hit__container {
    width: 1050px;
    margin: 0 auto;
    padding: 0;
    padding-top: 112px;
    padding-bottom: 56px;
    background-size: auto 23px;
  }

  .week-hit__title {
    z-index: 2;
    order: 1;
    width: 875px;
    position: relative;
    font-size: $fs-desktop-title;
    line-height: $lh-desktop-title;
    margin-right: 0;
    margin-left: 1px;
  }

  .week-hit__label {
    order: 0;
    width: 168px;
    padding: 0 30px;
    padding-right: 40px;
    padding-top: 9px;
  }

  .week-hit__description {
    order: 2;
    width: 100%;
    height: 526px;
    padding-top: 48px;
    padding-left: 175px;
  }
}
